* {
  margin: 0;
  padding: 0;
}
.background-container {
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .logo-container {
    padding-left: 5rem;
    margin-right: 8rem;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    .logo {
      width: 150px;
      height: auto;
      cursor: pointer;
    }
  }
  .text-box {
    font-size: 100px;
    font-family: sans-serif;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 65%;
    display: flex;
    justify-content: space-around;
    .spacing {
      span {
        display: inline-block;
        font-weight: bolder;
        animation: mover 6s linear infinite;
        color: #fff;
      }
      .color-1 {
        color: red;
      }
      .color-2 {
        color: yellow;
      }
      .color-3 {
        color: green;
      }
      .color-4 {
        color: palevioletred;
      }
      .color-5 {
        color: orange;
      }
      .color-6 {
        color: palegoldenrod;
      }
      .color-7 {
        color: purple;
      }
      .color-8 {
        color: navy;
      }
      .color-9 {
        color: mediumspringgreen;
      }
      .color-10 {
        color: lightpink;
      }
      .color-11 {
        color: hotpink;
      }
      .color-12 {
        color: maroon;
      }
      .color-13 {
        color: mediumturquoise;
      }
      .color-14 {
        color: royalblue;
      }
      .color-15 {
        color: seagreen;
      }
      .color-16 {
        color: darkred;
      }
      .color-17 {
        color: deepskyblue;
      }
      span:nth-child(1) {
        animation-delay: 0.5s;
      }
      span:nth-child(2) {
        animation-delay: 1s;
      }
      span:nth-child(3) {
        animation-delay: 1.5s;
      }
      span:nth-child(4) {
        animation-delay: 2s;
      }
      span:nth-child(5) {
        animation-delay: 2.5s;
      }
      span:nth-child(6) {
        animation-delay: 3s;
      }
      span:nth-child(7) {
        animation-delay: 3.5s;
      }
      span:nth-child(8) {
        animation-delay: 4s;
      }
      span:nth-child(9) {
        animation-delay: 4.5s;
      }
      span:nth-child(10) {
        animation-delay: 5s;
      }
      span:nth-child(11) {
        animation-delay: 5.5s;
      }
      span:nth-child(12) {
        animation-delay: 6s;
      }
      span:nth-child(13) {
        animation-delay: 6.5s;
      }
      span:nth-child(14) {
        animation-delay: 7s;
      }
      span:nth-child(15) {
        animation-delay: 7.5s;
      }
      span:nth-child(16) {
        animation-delay: 8s;
      }
      span:nth-child(17) {
        animation-delay: 8.5s;
      }
    }
  }

  @keyframes mover {
    0% {
      text-shadow: 0 0 30px rgba(0, 0, 0, 0);
    }
    50% {
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
      transform: translateY(50%);
    }
    100% {
      text-shadow: 0 0 30px rgba(0, 0, 0, 0);
    }
  }
}

@media screen and (max-width: 1160px) {
  .background-container {
    .text-box {
      font-size: 50px !important;
    }
  }
}
@media screen and (max-width: 725px) {
  .background-container {
    .text-box {
      font-size: 35px !important;
    }
  }
}
@media screen and (max-width: 510px) {
  .background-container {
    .logo-container {
      display: none;
    }
    .text-box {
      font-size: 15px !important;
    }
  }
}
@media screen and (max-width: 415px) {
  .background-container {
    .logo-container {
      display: flex;
      padding: 0 1rem;
    }
    .text-box {
      font-size: 25px !important;
    }
  }
}
